@import url(./container/index.css);
@import url(./form/index.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

:root {
    /** Color */
    --primary-yellow-color: #eba520;
    --primary-blue-color: #4da7de;
    --black-color: black;
    --white-color: white;
    --primary-gray-color: #aaaaaa;

    --primary-font: "Noto Sans JP", sans-serif;

    --font-weight-normal: 400;
    --font-weight-md: 500;
    --font-weight-lg: 600;
    --font-weight-xl: 700;

    /** Basic Size */
    --size-xs: 8px;
    --size-ss: 12px;
    --size-s: 14px;
    --size-sm: 16px;
    --size-mm: 18px;
    --size-md: 24px;
    --size-lg: 32px;
    --size-xl: 36px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #efefef;
}

.main {
    width: 100%;
}

.section {
    width: 100%;
    min-height: 508px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: white;
    border-radius: 8px;
    margin-top: 27px;
    margin-bottom: 28px;
    padding: 0px 2rem;
    padding-top: 36px;
    width: 1200px;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000033;
}

.section1 {
    min-height: 369px;
    margin-top: 19px;
    padding-top: 36px;
}

.section2 {
    padding-top: 33px;
    min-height: 508px;
    margin-bottom: 7px;
}

.section3 {
    min-height: 508px;
    padding-top: 31px;
    margin-bottom: 7px;

}

.section4 {
    min-height: 508px;
    padding-top: 29px;
    margin-bottom: 7px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-heading {
    position: relative;
    width: 100%;
    height: 100px;  
    background-color: var(--white-color);
}

.slider-heading .content-heading {
}

.slider-heading .content-heading img {
    position: absolute;
    left: 161px;
    top: 25px;
    width: 126.2px;
    height: 50px;
}

.sub-title {
    font-weight: var(--font-weight-xl);
    font-size: var(--size-lg);
    min-width: 256px;
    height: 55px;
    margin-top: 62px;
    margin-left: 0px;
    line-height: 44.8px;
    margin-bottom: 13px;
}

.pagination-container {
    margin-top: 5px;
    margin-left: 1px;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pagination-box {
    width: 622px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 17px;
}

.pagination-box .pagination-btn {
    width: 40px;
    height: 40px;
    background: var(--white-color);
    color: var(--primary-gray-color);
    font-weight: var();
    border: 1px solid #cacaca;
    box-shadow: 0 2px 2px 0 #00000040, 0 2px 2px 0 #00000033;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--size-sm);
    line-height: 20px;
}

.pagination-box .pagination-btn.active {
    background: var(--primary-yellow-color);
    color: var(--white-color);
}

.pagination-box .pagination-btn:first-child {
    margin-right: 15px;
}

.pagination-box .pagination-btn:last-child {
    margin-left: 15px;
}

.pagination-box .pagination-ellipsis {
    color: var(--primary-gray-color);
    margin: 0px 5px;
    width: 14px;
    height: 20px;
}

.text-pagination {
    font-size: var(--size-s);
    position: absolute;
    left: 80px;
    bottom: 0px;
    left: 712px;
    width: max-content;
}

.section .heading {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-left: 8px;
    margin-top: 7px;
}

.section .heading .new-label {
    background: var(--primary-yellow-color);
    padding: 4px 9px;
    color: var(--white-color);
    font-size: var(--size-sm);
    width: 56px;
    height: 32px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
}

.divider {
    width: 1120px;
    height: 3px;
    background: var(--primary-blue-color);
    margin-top: 22px;
}

.divider-dashed {
    width: 100%;
    margin-bottom: 14px;
    border-width: 10px; 
    margin-top: 15px;
    border-bottom: 1px dashed var(--primary-blue-color);
}

.main-content-box {
    align-self: flex-start;
    margin-top: 1rem;
    display: flex;
    column-gap: 35px;
}

.main-content-box .left-column {
    margin-top: 6px;
    margin-left: 6px;
}

.btn-common {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-blue-color);
    color: var(--white-color);
    padding: 7px 9px;
    width: 258px;
    height: 56px;
    cursor: pointer;
    column-gap: 5px;
}


.main-content-box .left-column .btn-common img {
    width: 19.21px;
    height: 19.2px;
    margin-left: 5px;
    margin-top: 2px;
}

.main-content-box .left-column .btn-common p {
    line-height: 22.4px;
    margin-left: 6px;
    margin-top: 4px;

}


.main-content-box .left-column img {
    display: block;
    width: 258px;
    height: 258px;
}

.main-content-box .right-column {
    margin-top: 6px;
    margin-left: 5px;
}

.right-column .list-title {
    display: flex;
    column-gap: 9px;
    box-sizing: border-box;
}

.right-column .item-product {
    border: 1px solid var(--primary-blue-color);
    border-radius: 5px;
    font-size: var(--size-s);
    font-weight: var(--font-weight-normal);
    color: var(--primary-blue-color);
    padding: 4px 5px;
    line-height: 16px;
}

.right-column .item-product:nth-child(2) {
    padding: 4px 0px;
}

.right-column .item-product:nth-child(3) {
    padding: 4px 0px;
}

.right-column h1 {
    font-size: var(--size-md);
    font-weight: var(--font-weight-xl);
    color: var(--black-color);
    margin-top: 7px;
}

.right-column .option {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 17px;
    row-gap: 10px;
    margin-top: 23px;
    text-align: center;
}

.option .btn-common.left {
    width: 250px;
    height: 32px;
    padding: 7px 9px;
}

.option .btn-common.right {
    width: 548px;
    height: 32px;
}

.option p {
    font-size: var(--size-mm);
    font-weight: var(--font-weight-normal);
    line-height: 25.2px;
    margin-right: 7px;
}

.sub-btn {
    width: 822px;
    height: 67px;
    font-weight: var(--font-weight-normal);
    font-size: var(--size-sm);
    line-height: 22.4px;
    margin-top: 22px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--primary-gray-color);
    margin: 1.4rem 0;
    width: 1200px;
    height: 474px;
    margin-bottom: 32px;
}

.footer-section .sub-title {
    text-align: center;
    margin-top: 20px;
}

.slider-footer {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 215px;  
    background-color: var(--white-color);
    margin-top: 79px;
}

.slider-footer .slide-footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.slider-footer .slide-footer-content img {
    width: 176.68;
    height: 70px;
}

.sub-footer {
    position: absolute;
    font-weight: var(--font-weight-normal);
    font-size: var(--size-ss);
    line-height: 16px;
    text-align: center;
    bottom: 30px;
    left: 620px;
}





